/* @font-face {
    font-family: 'Darker Grotesque';
    src: local('DarkerGrotesque-Regular')
        url('../fonts/DarkerGrotesque-Regular.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: local('DarkerGrotesque-SemiBold')
        url('../fonts/DarkerGrotesque-SemiBold.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Darker Grotesque';
    src: url('../fonts/DarkerGrotesque-Medium.woff2') format('woff2'),
        url('../fonts/DarkerGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
         url('../fonts/JosefinSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */


body {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #121521;
    color: #fff;
    width: 1920px;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.container {
   width: 1242px;
   margin: auto;
}
.mainmenu {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
a, a:visited {
    text-decoration: none;
    color: #fff;
}

.page {
}
.page-header {
    margin-top: 56px;
    margin-bottom: 58px;
}

.logo {
    margin-right: 413px;
}
.mainmenu {
   width: 706px;
   padding-left: 0;
}
.mainmenu__item {
}
.page-section {
    margin-bottom: 119px;
}
.page-section__header {
   margin-top: 164px;
   
}
.page-section__uppercase {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #B2B2D3;
}
.page-section__head {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    width: 455px;
}
.page-section__text {
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    color: #B2B2D3;
}
.page-section__button {
}
.page-section__button--purple {
    background: #40467C;    
    padding: 16px 40px;
    text-transform: uppercase;
    margin-right: 30px;    
}
.page-section__button--transparent {
    padding: 16px 40px;
    text-transform: uppercase;    
    border: 2px solid #FFFFFF;
}
.page-section__img {
   margin-left: 75px;
   position: relative;
   right: 0;
   
}   
.openair-film {
    margin-bottom: 126px;
    position: relative;
}
.wrapper {
}
.openair-film__videobg {
    opacity: 0.6;
}
.openair-film__ico {
    position: absolute;
    left: 32%;
    top: 45%;
    padding: 18px 16px 18px 24px;
    background-color: #40467C;

}
.openair-film__description {
    background: #1B213A;
    width: 680px;
        
}
.openair-film__head {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    width: 427px;
    margin-left: 30px;
    margin-bottom: 0;

}
.openair-film__wraper {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-left: 30px;
}

.openair-film__item {
    width: 273px;
}
.item__head {
    font-family: 'Darker Grotesque';
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
}
.item__text {
    font-family: 'Darker Grotesque';
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #B2B2D3;
}